.scaffold-component{
    background-color: rgba($color: #880000, $alpha: 0.1);
    width: 256px;
    height: 100%;
}

.scaffold-component__text{
    margin-top: auto;
    margin-bottom: auto;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: rgb(138, 138, 138);
}