.icon{
    opacity: 0.5;
}

.login_btn{
    background-color: white;
    color: black;
    outline: none !important;
    border-style: none;
    box-shadow: none;
}
.login_btn__border--focus:focus, .login_btn__border--focus:active, .login_btn__border--focus:hover{
    background-color: white !important;
    color: black !important;
    outline: none !important;
    border-style: none;
    box-shadow: none;
}
